*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


body{
    background-color: #333;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    overflow-x: hidden; 
}

nav{
    background-color: rgba(0, 0, 0, 0.623);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-bottom: 5rem;
    /*line-height: 30px;*/

}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 10px;
    padding: 5px;
    font-size: 1rem;
}

nav li:hover {
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
    transform: scale(0.9);
}
nav li a:hover{
    background-color: white ;
    border-radius: 1rem;
    color: black;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;    
    font-family: 'Roboto Condensed', sans-serif;
    background: transparent;
}

nav img {
    float: left;
    padding-left: 30px

    }




.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-image: url(image/computergif.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    height: 94vh;
    width: 100%;
    
}

.header img{
    width: 100%;
}

.top-container{
    padding-top: 13rem;
    
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #EAF6f6;
   

}

h2{
    color: #EAF6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #EAF6f6;
}

p{
    line-height: 2;
    color: #EAF6f6;
}

hr{
    border: dotted gray 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #EAF6f6;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover{
    color: #EAF6f6;
    
}

.top-container{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 1.5rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}

.middle-container{
    margin: 50px 0;
    align-items: left;
    background-color: #333;
}

.bottom-container{
    background-color: #1A1A1D;
    padding: 50px 0 60px;    
}

.bottom-container ul li{
    list-style: none;
    margin: 0 15px;
    display: inline-block;
}

/*Footer Icon*/
.bottom-container ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .6%;
    color: #000;
}
.bottom-container ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .4s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.bottom-container ul li a:hover{
    transform: translate(0, -10px);
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    color: #EAF6f6;
    
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 50%;
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6f6;
    font-size: 0.75rem;
    padding: 7px 0px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
}

.editing-vid{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.web-des{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.boxbtn {
    background: lightgray;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }
    
.boxbtn:hover {
    background:white ;
    text-decoration: none;
    background-color: white ;
    border-radius: 5rem;
    color: #333;
}

.foot{
    margin-top: 1.1rem;
    height:3.1rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    background-color: #333;
    color: black;
    text-align: center;

}










